<h1>Cargar Archivo</h1>
<div class="upload-container" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <p>Drag a file here</p>
  <p>Or, if you prefer...</p>
  <button (click)="fileInput.click()">Select a file from your computer</button>
  <input #fileInput type="file" (change)="onFileSelected($event)" hidden />
</div>

<div class="card">
  <div class="card-header">
    Información del Archivo
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Progreso de subida:</strong>
      <span *ngIf="uploadPercent | async as percent; else noUpload">{{ percent }}%</span>
      <ng-template #noUpload>No hay información de subida.</ng-template>
    </p>
    <p class="card-text">
      <strong>URL de descarga:</strong>
      <span *ngIf="downloadURL | async as url; else noUrl">
        <a [href]="url" target="_blank">{{ url }}</a>
      </span>
      <ng-template #noUrl>No hay URL disponible.</ng-template>
    </p>
  </div>
</div>

<p *ngIf="message">{{ message }}</p>
<!-- Nuevo botón para analizar -->
<div>
  <button class="analyze-btn" (click)="analyzeFile()" [disabled]="!fileUploaded">Analyze Document</button>
</div>