<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="text-2xl">Bienvenido a CyberInterpret</div>

    <!-- Botón para redirigir a Feasibility Cybersecurity -->
    <button class="redirect-button" (click)="redirectToFeasibility()">Ir a Feasibility Cybersecurity</button>
  </div>

  <div class="dashboard-grid">
    <!-- Resumen de la Herramienta -->
    <div class="card">
      <div class="title">📌 Información General</div>

      <div class="text-body" style="margin-top: 12px;">{{ toolInfo }}</div>


    </div>

    <!-- Últimos Archivos Subidos -->
    <div class="card">
      <h3>📂 Últimos 5 análisis</h3>
      <div class="list-analysis">
        <!-- <li *ngFor="let file of recentFiles">{{ file.name }} - {{ file.date }}</li> -->
        <div *ngFor="let item of analysisView" class="analysis-item">
          <div>
            <div class="text-lg">
              {{ item.name }}
            </div>
            <div class="text-secondary">
              {{ item.createdAt | date: 'medium'}}
            </div>
          </div>
          <a class="button-blue" [routerLink]="['/visualizacion', item.id]">Ver análisis</a>
        </div>
      </div>
    </div>

    <!-- Estado de los Módulos -->
    <div class="card">
      <h3>⚙️ Estado de los Módulos</h3>
      <ul>
        <li *ngFor="let module of modulesStatus">
          <div class="text-lg">{{ module.name }}</div>
          <span class="status" [class.active]="module.status === 'Activo'">{{ module.status }}</span>
        </li>
      </ul>
    </div>



    <!-- Estado de Análisis -->
    <div class="card chart-container">
      <h3>📊 Resumen de Resultados</h3>
      <canvas #doughnutCanvas></canvas>
    </div>

    <!-- Notificaciones -->
    <div class="card">
      <h3>🔔 Notificaciones</h3>
      <ul>
        <li *ngFor="let notification of notifications">
          <span>{{ notification.message }}</span>
          <small>{{ notification.date }}</small>
        </li>
      </ul>
    </div>
  </div>
</div>